---
import ImageMod from './ImageMod.astro'
import NextJS from './icons/IconNextjs.astro'
import Tailwind from './icons/IconTailwind.astro'
import Unity from './icons/IconUnity.astro'
import Preact from './icons/IconPreact.astro'
import Js from './icons/IconJs.astro'
import Ts from './icons/IconTs.astro'
import IconWeb from './icons/IconWeb.astro'
import IconGithub from './icons/IconGithub.astro'
import IconReact from './icons/IconReact.astro'
import IconThreejs from './icons/IconThreejs.astro'
import IconExcalibur from './icons/IconExcalibur.astro'
import IconWarning from './icons/IconWarning.astro'

const TAGS = {
  NEXT: {
    name: 'Next.js',
    class: 'bg-black text-white',
    icon: NextJS,
  },
  TAILWIND: {
    name: 'Tailwind CSS',
    class: 'bg-[#003159] text-white',
    icon: Tailwind,
  },
  PREACT: {
    name: 'Preact',
    class: 'bg-[#673AB8] text-white',
    icon: Preact,
  },
  UNITY: {
    name: 'Unity',
    class: 'bg-[#000000] text-white',
    icon: Unity,
  },
  JS: {
    name: 'JavaScript',
    class: 'bg-[#F7DF1E] text-black',
    icon: Js,
  },
  TS: {
    name: 'TypeScript',
    class: 'bg-[#007ACC] text-white',
    icon: Ts,
  },
  REACT: {
    name: 'React',
    class: 'bg-[#61DAFB] text-black',
    icon: IconReact,
  },
  THREEJS: {
    name: 'Three.js',
    class: 'bg-[#000000] text-white',
    icon: IconThreejs,
  },
  EXCALIBUR: {
    name: 'Excalibur.js',
    class: 'bg-[#000000] text-white',
    icon: IconExcalibur,
  },
  WARNING: {
    name: 'WIP',
    class: 'bg-[#ffce00] text-black',
    icon: IconWarning,
  },
}

const classicGames = [
  {
    name: 'Tetris TS',
    blogUrl: '/blog/classic-tetris-typescript',
    imageUrl: '/images/games/classic-tetris-typescript.png',
    liveLink: 'https://tetris-ts.vercel.app/',
    githubLink: 'https://github.com/manuelsanchezweb/tetris-ts',
    technologies: [TAGS.TS],
  },
  {
    name: 'Minesweeper TS (Web Accessible)',
    blogUrl: '/blog/classic-minesweeper-typescript',
    imageUrl: '/images/games/classic-minesweeper-typescript.png',
    liveLink: 'https://minesweeper-ts-xi.vercel.app/',
    githubLink: 'https://github.com/manuelsanchezweb/minesweeper-ts',
    technologies: [TAGS.TS],
  },
  {
    name: 'Two-Player Bomberman TS',
    blogUrl: '/blog/classic-bomberman-typescript',
    imageUrl: '/images/games/classic-bomberman-typescript.png',
    liveLink: 'https://bomberman-ts.vercel.app/',
    githubLink: '',
    technologies: [TAGS.TS],
  },
  {
    name: 'Hangman TS',
    blogUrl: '/blog/classic-hangman-typescript',
    imageUrl: '/images/games/classic-hangman-typescript.png',
    liveLink: 'https://hangman-ts-gamma.vercel.app/',
    githubLink: 'https://github.com/manuelsanchezweb/hangman-ts',
    technologies: [TAGS.TS, TAGS.REACT],
  },
  {
    name: 'Arkanoid TS',
    blogUrl: '/blog/classic-arkanoid-typescript',
    imageUrl: '/images/games/classic-arkanoid-typescript.png',
    liveLink: 'https://arkanoid-ts.vercel.app/',
    technologies: [TAGS.TS],
  },
  {
    name: 'Quiz: How Good Is Your German?',
    blogUrl: '/blog/classic-quiz-german-knowledge',
    imageUrl: '/images/games/classic-quiz-german.png',
    liveLink: 'https://quiz-german-knowledge.vercel.app/',
    githubLink: 'https://github.com/manuelsanchezweb/quiz-german-knowledge',
    technologies: [TAGS.TS, TAGS.REACT],
  },
  {
    name: 'Guess the character',
    blogUrl: '/blog/classic-guess-the-character',
    imageUrl: '/images/games/classic-guess-the-character.png',
    liveLink: 'https://ts-guess-the-character.vercel.app/',
    technologies: [TAGS.TS, TAGS.REACT],
  },
  {
    name: 'Related Words',
    blogUrl: '/blog/classic-related-words',
    imageUrl: '/images/games/classic-related-words.png',
    liveLink: 'https://ts-react-related-words.vercel.app/',
    githubLink: 'https://github.com/manuelsanchezweb/ts-react-related-words',
    technologies: [TAGS.TS, TAGS.REACT],
  },
  {
    name: 'Grid Based Logic Game',
    blogUrl: '/blog/classic-grid-based-logic-game',
    imageUrl: '/images/games/classic-grid-based-logic-game.png',
    liveLink: 'https://ts-react-detective-game.vercel.app/',
    technologies: [TAGS.TS, TAGS.REACT],
  },
]
---

<section
  class="container mx-auto grid grid-cols-1 md:grid-cols-5 max-w-5xl gap-6 pt-2 pb-16"
>
  {
    classicGames.map((game, index) => (
      <div class="col-span-1 relative group">
        <div class="top-0 hover:-top-2 border rounded-xl border-black bg-white overflow-hidden">
          <a
            href={game.blogUrl}
            class="transition-all duration-75 ease-in-out h-full block squiggle"
          >
            <ImageMod
              class="border border-black opacity-70 group-hover:opacity-100 transition-all duration-75 ease-in-out aspect-video object-cover"
              src={game.imageUrl}
              alt={game.name}
              width={700}
              height={500}
            />
          </a>
          <div class="py-3 px-4">
            <h3 class="font-bold text-xl leading-tight dark:text-light min-h-[50px]">
              {game.name}
            </h3>
            <p class="text-xs mt-4 flex items-center">
              <ul class="flex flex-wrap gap-2 flex-row mb-2">
                {game.technologies.map((tag) => (
                  <li title={tag.name}>
                    <span
                      class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      <tag.icon class="size-4" />
                    </span>
                  </li>
                ))}
              </ul>
            </p>
          </div>
        </div>
        <header class="scale-0 group-hover:scale-100 transition-transform duration-300 gap-x-1 items-end justify-start mt-4 absolute top-2 right-2 z-10">
          {game.githubLink && (
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={game.githubLink}
              class="bg-white border dark:border-white/10 border-gray-300 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 text-xs md:text-base transition hover:scale-110"
            >
              <IconGithub class="size-6" />
            </a>
          )}
          {game.liveLink && (
            <a
              target="_blank"
              rel="noopener noreferrer"
              href={game.liveLink}
              class="bg-white border dark:border-white/10 border-gray-300 rounded-full inline-flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 text-xs md:text-base transition hover:scale-110"
            >
              <IconWeb class="size-6" />
            </a>
          )}
        </header>
      </div>
    ))
  }
</section>
